@charset "utf-8";

/*==============    Mobile      ==============*/
/**** basic ****/
h3 {font-size: 28px; font-weight: bold; padding-bottom: 41px; border-bottom: 1px solid #000;}
p {font-size: 20px; padding-top: 42px;}
    p.license { padding: 0; }
a:hover {text-decoration: none; color: #000;}

/*** .button ***/
.button {display: inline-block; position: relative; width: 163px; height: 57px; color: #000; font-size: 20px; text-align: center; line-height: 57px; font-weight: bold; margin-top: 46px; margin-left:25px;}
    .button::after {display: block; content: ""; position: absolute; top: 0; left: 50%; width: 97%; height: 100%; transform: skew(-10deg,0deg) translateX(-50%); border: 2px solid #000; border-radius: 10px; -webkit-box-sizing: border-box; box-sizing: border-box;}

.button.last {color: #fff;}
    .button.last::after {border: none; content:""; background: #E2231A;}
    .button.last span {position: relative; z-index: 1;}


/**** section.container ****/
section.container {padding-top: 97px;}
    section.container .row {padding-top: 90px; padding-bottom: 100px;}

    /*** wonder ***/
    .wonder h3 {padding: 0 25px; border: none;}
    .wonder p {font-size: 14px; padding:42px 25px 0 25px;}
    .wonder button {margin-left: 25px;}
    /** wonder > support faq img **/
    .support-faq-img {margin-top: 81px; padding-left: 27px; display: none;}
        .support-faq-img ul {height: 460px; position: relative; overflow: hidden;}
            .support-faq-img ul li {position: absolute; top: 0; left: 0; opacity: 0; transition: 0.3s;}
            .support-faq-img ul li.on {opacity: 1; -webkit-transition:0.4s; transition:0.4s;}
                .support-faq-img ul li img {width: 460px;}

                
    /*** faq ***/
    .faq h3 {padding-top: 100px; text-indent: 20px;}
    
    /** faq > faq-board > faq-list **/
    .faq-list {border-bottom: 1px solid #d8d8d8;}
    .faq-list:last-child {border-color: #000;}
        .faq-list a {text-indent: 20px; text-decoration: none; color: #000;}

        .faq-list .faq-box p {padding: 0; padding-top: 330px; font-size: 17px; width: 85%; line-height: 1.6; margin: 0 auto; padding-bottom: 23px; background-size: 250px; background-position: center 40px; background-repeat: no-repeat;}
            .faq-list .faq-box p.refresh {background-image: url(../images/img_support_refresh.png);}
                .faq-list .faq-box p.refresh .faq-answer-tit { margin-bottom: 40px; }
            .faq-list .faq-box p.report {background-image: url(../images/img_support_report.png);}
            .faq-list .faq-box p.parking {background-image: url(../images/img_support_parking.png);}
            .faq-list .faq-box p.return {background-image: url(../images/img_support_return.png);}
            .faq-list .faq-box p strong {font-size: 18px; margin-bottom: 15px; display: block;}

        .faq-list .faq-box .answer-ico {display: inline-block; vertical-align: middle; width: 32px; height: 32px; margin: 0 3px; font-size: 0;}
            .faq-list .faq-box .answer-ico.ico-report {background: url(../images/icon_support_report.png) no-repeat; background-size: contain;}
            .faq-list .faq-box .answer-ico.ico-refresh {background: url(../images/icon_support_refresh.png) no-repeat; background-size: contain;}
            .faq-list .faq-box .answer-ico.ico-missing {background: url(../images/icon_support_missing.png) no-repeat; background-size: contain;}

        /** faq question **/
        .faq-list .faq-question {font-size: 20px; padding: 32px 0; display: block; position: relative;}
            .faq-list .faq-question:after {content: ''; position: absolute; top: 50%; right: 20px; margin-top: -6px; width: 20px; height: 12px; background-image: url(../images/icon_support_arrow.png); background-size: 100%;  transition: 0.3s all ease;}
            .faq-list.on .faq-question:after {transform: rotate(180deg);}

    
/**** section.question ****/
.question {background-color: #f5f5f5;}
    .question h3 {padding: 0 25px; padding-top: 106px; border: none;}
    .question p {line-height: 1.6; font-size: 14px; padding:42px 25px 0 25px;}
        .question p br {display: none;}
    .question button{margin-left: 25px;}


/*** footer ***/
.footer_box {padding-top:100px;}
    .footer_box .contact p {font-size: 12px; padding: 0;}
    .footer_box .contact .email {text-indent:25px;}



/*==============    Tablet    ==============*/
@media screen and (min-width:768px) {
    /**** section.container ****/
    section.container .row {padding-top: 150px;}
        /*** wonder ***/
        .wonder h3 {padding: 0; padding-bottom: 41px; border-bottom: 1px solid #000; text-indent: 20px;}
        .wonder p {font-size: 18px;}

        /*** faq ***/
        .faq h3 {padding-top: 150px;}
        /** faq > faq-board > faq-list **/
        .faq-list .faq-box p {background-size: 460px; padding-top: 570px;}

    /**** section.question ****/
    .question p {font-size: 18px;}
        .question p br {display: block;}
}



/*==============    PC    ==============*/
@media screen and (min-width: 1441px) {
    /*** wonder ***/
    .wonder p {font-size: 20px;}
        /** wonder > support faq img **/
        .support-faq-img {display: block;}

    /*** faq ***/
    .faq h3 { padding-top: 0; }
        /** faq > faq-board > faq-list **/
        .faq-list .faq-box p {padding-top: 5px;}
            .faq-list .faq-box p.refresh {background-image: none;}
            .faq-list .faq-box p.report {background-image: none;}
            .faq-list .faq-box p.parking {background-image: none;}
            .faq-list .faq-box p.return {background-image: none;}
    
    /**** section.question ****/
    .question p {font-size: 20px;}
}